<div class="login-container">
	<div class="login-aside">
		<div class="o-box-up"></div>
		<div class="o-box-down" style="table-layout:fixed;">
			<div class="error-box"></div>
			<div class="registerform">
				<div class="fm-item">
					<label for="logonId" class="form-label">用户名：</label>
					<input type="text" value="输入账号" maxlength="100" id="username" class="i-text" ajaxurl="demo/valid.jsp" datatype="s6-18" errormsg="用户名至少6个字符,最多18个字符！">
					<div class="ui-form-explain"></div>
				</div>
				<div class="fm-item">
					<label for="logonId" class="form-label">密码：</label>
					<input type="password" value="" maxlength="100" id="password" class="i-text" datatype="*6-16" nullmsg="请设置密码！" errormsg="密码范围在6~16位之间！">
					<div class="ui-form-explain"></div>
				</div>
				<div class="fm-item pos-r">
					<label for="logonId" class="form-label">验证码</label>
					<input type="text" value="输入验证码" maxlength="100" id="yzm" class="i-text yzm" nullmsg="请输入验证码！">
					<div class="ui-form-explain"><img src="resources/img/yzm.jpg" class="yzm-img"></div>
				</div>
				<div class="fm-item">
					<label for="logonId" class="form-label"></label>
					<input type="button" value="" tabindex="4" id="send-btn" class="btn-login">
					<div class="ui-form-explain"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="login-bg">
		<ul>
			<li><a></a></li>
		</ul>
	</div>
</div>