<div class="main-portal">
	<header class="header">
		<div class="header-inner body-width">
			<a href="#" class="logo"></a>
			<nav class="header-nav">
				<ul>
					<li>
						<span class="line"></span>
						<a href="#register" class="icon-text__pink register">注册</a>
					</li>
					<li>
						<span class="line"></span>
						<a href="#login">登录</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header-shadow"></div>
	</header>
	<div class="main-content">
		<div class="slider-img" id="sliderImg">
			<ul class="slider-wrapper" style="width: 3550px; left: -1420px;">
				<li class="item" data-title="">
					<a href="#" class="pic"><img src="resources/img/slider/slider_img1.jpg" alt="#"></a>
				</li>
				<li class="item" data-title="" data-author="">
					<a href="#" class="pic"><img src="resources/img/slider/slider_img2.jpg" alt="#"></a>
				</li>
				<li class="item" data-title="" data-author="">
					<a href="#" class="pic"><img src="resources/img/slider/slider_img3.jpg" alt="#"></a>
				</li>
				<li class="item" data-title="" data-author="">
					<a href="#" class="pic"><img src="resources/img/slider/slider_img4.jpg" alt="#"></a>
				</li>
				<li class="item" data-title="">
					<a href="#" class="pic"><img src="resources/img/slider/slider_img5.jpg" alt="#"></a>
				</li>
			</ul>
			<a href="javascript:;" class="slider-prev"></a>
			<a href="javascript:;" class="slider-next"></a>
			<div class="slider-title">
				<h2>你的书写工具需要一个庇护所</h2>
				<span>by Moollly</span>
			</div>
			<div class="slider-btns">
				<span class="item"></span>
				<span class="item"></span>
				<span class="item item-cur"></span>
				<span class="item"></span>
				<span class="item"></span>
			</div>
		</div>
	</div>
</div>